<div class='container resources_container'>
    <h4 class="baseurl" style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{basePath}}
    {{#if apiVersion}}
    , <span style="font-variant: small-caps">api version</span>: {{apiVersion}}
    {{/if}}]</h4>

    <ul class='resources'>
    </ul>
</div>
